// Color variables
$white_color: hsl(0, 100%, 100%);
$Purple_100: hsl(275, 100%, 97%);
$Purple_600: hsl(292, 16%, 49%);
$Purple_950: hsl(292, 42%, 14%);

// Font variables
$Font_family_base: 'Work Sans', 'Arial', sans-serif;
$Font_size_base: 16px;
$Font_weight_bold: 700;
$Font_weight_medium: 600;
$Font_weight_regular: 400;